absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
asttokens
astunparse
attrs
backoff
bcrypt
blinker
build
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
dataclasses-json
debugpy
decorator
Deprecated
distro
exceptiongroup
executing
fastapi
filelock
Flask
Flask-Cors
flatbuffers
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
ml-dtypes
mmh3
monotonic
mpmath
multidict
mypy-extensions
namex
narwhals
nest_asyncio
nltk
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
orjson
overrides
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
plotly
posthog
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pypdf
PyPika
pyproject_hooks
python-dateutil
python-dotenv
pytube
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
setuptools
shellingham
six
smmap
sniffio
SQLAlchemy
stack-data
starlette
sympy
tenacity
termcolor
tiktoken
tokenizers
toml
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
watchdog
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wheel
wrapt
yarl
youtube-transcript-api
zipp
